.search {
  width: 100%;
  display: grid;
  position: relative;
  margin-bottom: 40px;
}

#search {
  width: 100%;
  border: 3px solid white;
  height: 20px;
  border-radius: 8px;
  outline: none;
  color: white;
}

#search:focus {
  border: 3px solid #f5f5f5;
}
