.search {
  width: 100%;
  display: grid;
  position: relative;
  margin-bottom: 40px;
}

#search {
  width: 100%;
  border: 3px solid white;
  height: 20px;
  border-radius: 8px;
  outline: none;
  color: white;
}

#search:focus {
  border: 3px solid #f5f5f5;
}

.wrap {
  width: 30%;
  position: relative;
  margin: 0 auto;
  transform: none;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}
